/* header */
header {width:100%; padding: 0.8em 3.1em 0.6em 3.1em; box-sizing:border-box; display: flex; align-items:center; justify-content:space-between; position:absolute; z-index: 100;}
header h1 {width:9em;}
header h1 img {width:100%;}
header > div {width:6em; height:1.5em; display:flex; align-items: center; justify-content:space-between; cursor:pointer;}
header > div > span {color:#fff; font-size:1.1em; font-weight:400;}
header .gnb_btn_wrap {height:inherit; display:flex; flex-direction:column; justify-content:space-around; align-items: flex-end;}
header .gnb_btn_wrap span {width:1.5em; height:0.16em; background:#fff; transition: width 0.3s;}
header .gnb_btn_wrap span:last-of-type {width:2.5em;}


/* hover */
header > div:hover .gnb_btn_wrap span:first-of-type {width:2.5em;}

