body{width:100%;}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;

}

/* button */
.sec_1 {height: 100%; position: relative;}
.sec_1 .swiper-button-next::after, .sec_1 .swiper-button-prev::after {display:none;}
/* .sec_1 .swiper-button-next::after, .sec_1 .swiper-button-prev::after{display:none;} */
.sec_1 .swiper-button-prev{margin-left:1%}
.sec_1 .swiper-button-next{margin-right:1%}
.sec_1 .swiper-button-next, .sec_1 .swiper-button-prev{width:5%; height:4%; transform: translateY(-50%);}
.sec_1 .swiper-button-next >p, .sec_1 .swiper-button-prev>p{color:#fff; letter-spacing: 0.5vw; line-height:1vw; text-transform:uppercase;}
.sec_1 .swiper-button-next >p{margin-right:15%; transform:rotate(-90deg);}
.sec_1 .swiper-button-prev>p{margin-left:15%; transform:rotate(-90deg);}

.sec_1 .swiper-button-prev > span, .sec_1 .swiper-button-next > span{width:4px; background:#fff; position:absolute; display:block; transition:all 0.3s;}
.sec_1 .swiper-button-prev span:first-of-type, .sec_1 .swiper-button-next span:first-of-type{top: 50%; bottom:0}
.sec_1 .swiper-button-prev span:last-of-type, .sec_1 .swiper-button-next span:last-of-type{top: 0%; bottom: 50%;}
.sec_1 .swiper-button-prev span:first-of-type, .sec_1 .swiper-button-prev span:last-of-type{left:0;}
.sec_1 .swiper-button-next span:first-of-type, .sec_1 .swiper-button-next span:last-of-type{right:0;}

/* button hover */
.sec_1 .swiper-button-prev:hover span:first-of-type{margin-top:-5px; transform:rotate(-45deg);}
.sec_1 .swiper-button-prev:hover span:last-of-type{margin-bottom:-5px; transform:rotate(45deg);}
.sec_1 .swiper-button-next:hover span:first-of-type{margin-top:-5px; transform:rotate(45deg);}
.sec_1 .swiper-button-next:hover span:last-of-type{margin-bottom:-5px; transform:rotate(-45deg);}



/* progress-bar */
.sec_1 .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #E0272C;
}
.sec_1 .swiper-horizontal .swiper-pagination-progressbar, .sec_1 .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  position: static;
}
.sec_1 .swiper-pagination {
position: absolute;
}
.sec_1 .swiper-horizontal .swiper-pagination-progressbar, .sec_1 .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size,4px);
  left: 0;
  top: 0;
}
/* pagination */
.sec_1 .swiper-button-prev .swiper-pagination {color:#fff; font-size:1em; position:absolute; left:60px; top:50%; transform:translateY(-50%);}

/* sec_3 */
.sec_3 .swiper-horizontal .swiper-pagination-bullets, .sec_3 .swiper-pagination-bullets.swiper-pagination-horizontal, .sec_3 .swiper-pagination-custom, .sec_3 .swiper-pagination-fraction {
  position: static;
}
.sec_3 .swiper-horizontal .swiper-pagination-bullets, .sec_3 .swiper-pagination-bullets.swiper-pagination-horizontal{
  position: absolute;
}

/* detail */
.detail_visual .swiper_btn {width:300px; height:80px; background:#fff; position:absolute; bottom:4%; left:50%; z-index:102; transform:translateX(-50%);}
.detail_visual .swiper-button-prev:after {font-size:25px; position:absolute; top:50%; left:50%; top: 0; transform:translate(-50%, 50%);}
.detail_visual .swiper-button-next:after {font-size:25px; position:absolute; top:50%; right:50%; top: 0; transform:translate(50%, 50% );}
.detail_visual .swiper_btn > .swiper-button-next {position:absolute; width:50px; height:50px; border: 1px solid blue; border-radius:50%; right:0; }
.detail_visual .swiper_btn > .swiper-button-prev {position:absolute; width:50px; height:50px; border: 1px solid blue; border-radius:50%; left:0; }